<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<meta name="viewport" content="width=device-width" initial-scale="1.0">
	<meta charset="utf-8">
	<meta name="description" content="Show of your startup">
	<meta name="author" content="WOS">
	<meta name="keywords" content="startup, company, babbblr, babbbler, social network">
	<title>Store Store</title>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
	<div class="nav_container">
		<div class="nav">
			<div class="user_panel_widget">
				<a href="/login">Sign In</a> <span>or</span>
				<a href="/register">Register</a>
			</div>
		</div>
	</div>
	<div class="content_container">
		<div class="column">
			<div class="row">
				<a href="#"><img src="https://i.redd.it/i4kq1gyoxjry.png"></a>
				<div class="info">
					<h1><a href="#">Happy Kitty Games</a></h1>
					<span>Escape a procedurally generated city. Survive the Backland</span>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="row">
				<img src="http://www.gamesauce.biz/wp-content/uploads/2017/11/Juggler_Games_Logo_White-320x320.jpg">
				<div class="info"></div>
			</div>
		</div>
		<div class="column">
			<div class="row">
				<img src="http://www.powerhouseanimation.com/wp-content/uploads/2015/09/newLogo.jpg">
				<div class="info"></div>
			</div>
		</div>
		<div class="column">
			<div class="row">
				<img src="https://pbs.twimg.com/media/DYvTkSSWAAAenzf.jpg">
				<div class="info"></div>
			</div>
		</div>
	</div>
</body>
</html>