<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/profile.css">
	<link rel="icon" type="image/x-icon" href="./logo.png">
	<meta name="viewport" content="width=device-width" initial-scale="1.0">
	<meta charset="utf-8">
	<meta name="description" content="Show of your startup">
	<meta name="author" content="WOS">
	<meta name="keywords" content="startup, company, babbblr, babbbler">
	<title>Store Store</title>
</head>
<body>
	<div class="nav_container">
		<div class="nav">
			<div class="user_panel_widget">
				<a href="/logout">Sign Out</a>
			</div>
		</div>
	</div>
	<span><%=data.email%></span>
</body>
</html>