<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/sign.css">
	<meta name="viewport" content="width=device-width" initial-scale="1.0">
	<meta charset="utf-8">
	<meta name="description" content="Show of your startup">
	<meta name="author" content="WOS">
	<meta name="keywords" content="startup, company, babbblr, babbbler">
	<title>Store Store</title>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
	<div class="account_auth">
		<h1>Sign in to your Account</h1>
		<form action="/register_verify" method="POST">
			<span>Name</span>
			<input type="text" name="name">
			<span>Email Address</span>
			<input type="text" name="email">
			<span>Password</span>
			<input type="password" name="password">
			<button>Register</button>
		</form>
		<span>or</span>
		<a href="/login">Sign In</a>
	</div>
</body>
</html>