html,body
{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	font-family: arial;
	background-color: #f1f1f1;
	font-size: 0px;
}

div 
{
	box-sizing: border-box;
	vertical-align: top;
}

.nav_container
{
	width: 100%;
	height: 25px;
	background-color: white;
	box-shadow: 0px 1px 5px 0px rgba(120,76,120,1);
	box-sizing: border-box;
	font-size: 14px;
	padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 15px;
}

.user_panel_widget
{
	box-sizing: border-box;
	padding-top: 4px;
}

.user_panel_widget a
{
	text-decoration: none;
}

.user_panel_widget a:hover
{
	text-decoration: underline;
}

.content_container
{
	width: 100%;
	height: auto;
	margin:auto;
	display: block;
	text-align: center;
}

.row
{
	width: 100%;
	height: 300px;
	background-color: #69aeff;
	display: block;
	overflow: hidden;
}

.row img
{
	width: 100%;
	height: 80%;
}

.row .info
{
	width: 100%;
	height: 20%;
	background-color: #9e3434;
	color: white;
	padding: 10px;
	padding-top: 3px;
	text-align: left;
}

.info a
{
	text-decoration: none;
	color: white;
}

.info h1 a:hover
{
	text-decoration: underline;
}

.info h1
{
    font-size: 17px;
    padding: 0px;
    margin: 0px;
    padding-top: 1px;
}

.info span
{
	font-size: 11px;
    margin-top: 3px;
    display: block;
}

.column
{
	height: auto;
	width: 200px;
	display: inline-block;
	padding: 2px;
}